@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#linestep {
    background-image: url('./이미지/signline.png');
    position: absolute;
    width: 425px;
    height: 3px;
    left: 1231px;
    top: 261px;
}

#text1 {
    position: absolute;
    width: 62px;
    height: 26px;
    left: -34px;
    top: 28px;
    color: #494949;
}

#text2 {
    position: absolute;
    width: 78px;
    height: 26px;
    left: 168px;
    top: 28px;
    color: #494949;
}

#text3 {
    position: absolute;
    width: 62px;
    height: 26px;
    left: 391px;
    top: 28px;
    color: #494949;
}

.circle {
    position: absolute;
    width: 36px;
    height: 36px;
    left: -35px;
    top: -16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    color: #FF617D;
    border: 1px solid #FFD0D9;
}

#circle1 {
    background-color: #FF617D;
    color: #FBFBFB;
    border: none;
}

#circle2 {
    left: 188px;
}

#circle3 {
    left: 414px;
}

#pink {
    background-image: url('./이미지/pink.png');
    width: 778px;
    height: 778px;
    background-size: cover;
    position: absolute;
    width: 778px;
    height: 778px;
    left: -16px;
    top: 24px;
}

#blue {
    background-image: url('./이미지/blue.png');
    background-size: cover;
    position: absolute;
    width: 862px;
    height: 752px;
    left: 250px;
    top: 326px;
}

.mainimg {
    background-image: url('./이미지/test.png');
    position: absolute;
    width: 700px;
    height: 700px;
    left: 160px;
    top: 184px;
    background-size: cover;
}

#logo {
    background-image: url('./이미지/roomin.png');
    position: absolute;
    width: 210.71px;
    height: 40px;
    left: 1335px;
    top: 233px;
    background-size: cover;
}

#forms {
    position: absolute;
    width: 508px;
    height: 180px;
    left: 1186px;
    top: 403px;
    display: grid;
    grid-template-rows: 80px 80px;
}
#inp1{
    border: none;
    outline: none;
}
#inp2{
    border: none;
    outline: none;
}

.input1 {
    color: #A4A4A4;
    font-size: 20px;
    padding: 41px;
    font-family: 'GmarketSansMedium';
    box-sizing: border-box;
    position: absolute;
    width: 508px;
    height: 80px;
    background-color: #FBFBFB;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
}

.input2 {
    color: #A4A4A4;
    font-size: 20px;
    padding: 41px;
    font-family: 'GmarketSansMedium';
    margin-top: 100px;
    box-sizing: border-box;
    position: absolute;
    width: 508px;
    height: 80px;
    background-color: #FBFBFB;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
}

#mark {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1782px;
    top: 958px;
    background-image: url('./이미지/mark.png');
    background-size: cover;
}

#btnsignup {
    position: absolute;
    display: grid;
    grid-template-columns: 105px 37px 70px;
    width: 280px;
    height: 24px;
    left: 1345px;
    top: 633px;
    font-size: 16px;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pass {
    font-size: 16px;
    text-align: center;
    color: #777777;
}
#pass:hover {
    cursor: pointer;
}

#line {
    text-align: center;
    color: #A4A4A4;
}

#signup {
    font-size: 16px;
    text-align: center;
    color: #494949;
}
#signup:hover{
    cursor: pointer;
}

#loginbtn {
    position: absolute;
    width: 508px;
    height: 80px;
    left: 1186px;
    top: 697px;
    background-color: #494949;
    border-radius: 16px;
    font-size: 24px;
    color: #FBFBFB;
}