#g1 {
    position: absolute;
    width: 1540px;
    height: 870px;
    left: 330px;
    top: 129px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

#first2 {
    padding: 60px 20px 20px 60px;
    display: grid;
    grid-template-columns: 842px 360px 70px;
    grid-column-gap: 75px;
}

#icons {
    position: absolute;
    left: 1288px;
}

#grid5 {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 732px;
    grid-template-columns: 455px 2px 114px 2px 100px;
}

#grid6 {
    text-align: center;
    display: grid;
    grid-template-columns: 190px 145px 162px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#detail {
    border-radius: 16px;
    border: none;
    width: 93px;
    height: 40px;
}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #E8E8E8;
}
th,
td {
    border: 2px solid #E8E8E8;
}

#gridtable{
    display: grid;
    grid-template-columns: 115px 30px;
    grid-column-gap: 12px;
    align-items: center;
    justify-content: center;
}
#port{
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


#portimg{
    background-image: url('../../이미지/camera.png');
    background-size: cover;
    width: 24px;
    height: 24px;
}
.updown {
    border: 1px solid #E8E8E8;
    width: 0.1px;
    height: 50px;
}

.t{
    display: flex;
    justify-content: center;
    align-items: center;
}