@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #E8E8E8;
}

th {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #E8E8E8;
    font-size: 1vw;
}

* {
    font-family: 'GmarketSansMedium';
    font-size: 1vw;
}

option {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    font-size: 1vw;
}

body {
    height: 100%;
    background-color: #FBFBFB;
}

#logo {
    position: absolute;
    width: 9vw;
    height: 1.7vw;
    left: 20%;
    top: 5%;
    background-image: url('../이미지/roomin.png');
    background-size: cover;
}

#nav {
    width: 17vw;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #FBFBFB;
    border: solid 1px #E8E8E8;
    position: fixed;
}

#nav-con {
    position: absolute;
    left: 12%;
    top: 17%;
    display: grid;
    grid-row-gap: 0.5vw;
}

.box {
    width: 12.5vw;
    height: 3.5vw;
    font-size: 1vw;
    background: rgb(251, 251, 251);
    border-radius: 1vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.box:hover {
    background-color: #FBECEE;
}

#nav1 {
    background-color: #FBECEE;
}

#nav3 {
    margin-bottom: 520px;
}

#icon1 {
    width: 1.3vw;
    height: 1.3vw;
    background-image: url('../이미지/icon1.png');
    background-size: cover;
}

#icon2 {
    width: 1.3vw;
    height: 1.3vw;
    background-image: url('../이미지/icon2.png');
    background-size: cover;
}

#icon3 {
    width: 1.3vw;
    height: 1.3vw;
    background-image: url('../이미지/icon3.png');
    background-size: cover;
}

#icon4 {
    width: 1.3vw;
    height: 1.3vw;
    background-image: url('../이미지/logout.png');
    background-size: cover;
}

#icon5 {
    width: 1.3vw;
    height: 1.3vw;
    background-image: url('../이미지/setting.png');
    background-size: cover;
}

#maingrid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 35%;
    float: right;
    position: absolute;
    top: 0;
    grid-column-gap: 2%;
    right: 0;
    left: 20vw;
}

.img {
    margin-left: 10px;
    margin-right: 15px;
}

#group {
    text-align: center;
}

.gridgroup {
    width: 17.5%;
    display: grid;
    grid-column-gap: 0.8vw;
    grid-template-columns: 6vw 7vw 7vw;
    text-align: center;
    margin-top: 2.5vw;
}

.chat {
    background-color: #F4F4F4;
    border-radius: 1vw;
    padding: 12px 12px 12px 12px;
    color: #D1D1D1;
    font-size: 1.2vw;
}

.chat:hover {
    background-color: #FF617D;
    color: #FBFBFB;
}

#mt {
    font-size: 1.2vw;
    font-weight: bold;
    color: #494949;
}

#mts {
    width: 171%;
    font-size: 1.2vw;
    font-weight: bold;
    color: #494949;
    margin-top: 36%;
}

#hotelname {
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #494949;
}

#hotels {
    display: flex;
    float: right;
    column-gap: 1vw;
    margin-top: 3vw;
}

#hotelimg {
    background-size: cover;
    width: 68px;
    height: 51px;
    background-image: url('../이미지/back.png');
    border-radius: 400px;
}

#g1 {
    width: 100%;
    height: 95%;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    border-radius: 1.2vw;
    margin-top: 1.5vw;
}

#g2 {
    width: 100%;
    height: 95%;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    border-radius: 1.2vw;
    margin-top: 6.8vw;
}

#first {
    padding: 6% 2% 2% 6%;
    display: grid;
    grid-template-columns: 16% 47% 11%;
    grid-column-gap: 8.5%;
}

#search {
    width: 100%;
    padding: 2.6% 4%;
    border-radius: 1vw;
    background-color: #E8E8E8;
    border: solid #e4e4e4 1px;
    text-indent: 0.7vw;
    font-size: 1vw;
}

#search:focus {
    border: 1px solid #e8e8e8;
    outline: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.search {
    position: relative;
}

img {
    position: absolute;
    width: 1.05vw;
    top: 10.8vw;
    right: 43vw;
}

#select {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    font-size: 1vw;
}

#select2 {
    background-color: #FBFBFB;
    border: none;
    border-radius: 0;
    width: 5vw;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.4vw;
    display: flex;
    align-items: center;
    color: #494949;
}

select:focus {
    outline: none;
}

table {
    margin: 0 auto;
    width: 95%;
    border: 1px solid #444444;
    border-collapse: collapse;
    margin-top: 1.55vw;
}

th,
td {
    border: 2px solid #E8E8E8;
}

#back {
    text-align: center;
    display: flex;
    width: 10.5%;
    height: 5%;
    justify-content: center;
    align-items: center;
    background: #5362CA;
    border-radius: 1vw;
    color: #FBFBFB;
    font-size: 1vw;
    float: right;
    margin-top: 34vw;
    margin-right: 2vw;
}

#table2 {
    margin-top: 8.6%;
}

#btng {
    display: grid;
    grid-template-columns: 5vw 5vw;
    grid-column-gap: 0.5vw;
    justify-content: center;
}

#bad {
    background-image: url('../이미지/bad.png');
    width: 4vw;
    height: 4vw;
    background-size: cover;
}

#count {
    background-color: #F4F4F4;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.3vw 0.2vw 0.2vw;
    gap: 0.8vw;
    width: 4.9vw;
    height: 1.8vw;
}

.counts {
    color: #494949;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

td,
th {
    height: 2.75vw;
}

th {
    color: #A4A4A4;
    font-weight: lighter;
}

td {
    color: #494949;
    font-size: 0.9vw;
}

button {
    border-radius: 1vw;
    border: none;
    width: 4.5vw;
    height: 2.5vw;
    font-size: 1vw;
    color: white;
}

#selecline {
    width: 102.8%;
    margin-top: 66vw;
    margin-left: 17vw;
    border: 0.1vw solid #E8E8E8;
}

#resevrer1 {
    display: grid;
    grid-template-columns: 6vw 44vw 5vw 5vw;
    column-gap: 1vw;
}

#reserver1 {
    display: grid;
    grid-template-columns: 7vw 40vw 5vw 5vw;
}

#reservation {
    width: 9vw;
    height: 2.4vw;
    font-size: 1.5vw;
    line-height: 2.3vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #494949;
}

#reservation2 {
    font-size: 1.5vw;
    line-height: 2.4vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #494949;
}

#enlargement {
    background-image: url('../이미지/enlargement.png');
    width: 2vw;
    height: 2vw;
    background-size: cover;
}

#gridgrid {
    width: 100vw;
    height: 68vh;
    display: grid;
    grid-template-columns: 60% 35%;
    float: right;
    position: absolute;
    top: 70vw;
    grid-column-gap: 4%;
    right: 0;
    left: 20vw;
}

#text {
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.5vw;
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
}

#resevrer2 {
    display: grid;
    grid-template-columns: 7vw 7vw;
    column-gap: 20vw;
}

#grid3 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    height: 100%;
    justify-content: center;
    grid-column-gap: 10px;
    padding-top: 0.9vw;
    margin-top: 1vw;
    margin-left: -3vw;
}

.rec {
    width: 20vw;
    height: 18vw;
    background: #FFFFFF;
    box-shadow: 0px 0.2vw 0.9vw rgba(0, 0, 0, 0.05);
    border-radius: 1.8vw;
}

#grid4 {
    width: 31vw;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.room {
    width: 15.5vw;
    height: 12.4vw;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    display: grid;
    place-items: center;
    align-items: center;
    grid-row-gap: 0.5vw;
    grid-template-rows: 5.2vw 0.8vw 6vw;
}

.person {
    background-image: url('../이미지/person.png');
    background-size: cover;
    width: 1.6vw;
    height: 2vw;
    float: left;
    margin-top: 0.8vw;
}

.ggg {
    display: grid;
    grid-template-columns: 2vw 14vw;
    grid-template-rows: 1.5vw;
    grid-column-gap: 1vw;
}

.data {
    display: flex;
    width: 6vw;
    color: #A4A4A4;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 1.9vw;
}

.checktime {
    display: flex;
    width: 5.2vw;
    height: 1.6vw;
    padding: 0.5vw 0.7vw 0.5vw 0.7vw;
    background: rgba(255, 97, 125, 0.1);
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    font-weight: bold;
    color: #FF617D;
    border-radius: 1vw;
    margin-top: -2vw;
    margin-left: 12vw;
}

.g {
    display: grid;
    justify-content: center;
    margin-top: 2vw;
}

.gg1 {
    margin-top: 3px;
    color: #494949;
}

.gg2 {
    color: #777777;
}

#badtext {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.4vw;
    width: 6vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    color: #494949;
}

.badroom {
    margin-left: 1.9vw;
    font-weight: bold;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    color: #494949;
}

.sorting {
    width: 14.5vw;
    height: 3.4vw;
    margin: 0 auto;
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 2.8vw 4.9vw 7.5vw;
    grid-column-gap: 0.2vw;
}

.persontext {
    display: flex;
    align-items: center;
    float: left;
    /* g1 */
    font-size: 1.2vw;
    color: #FBFBFB;
}

.backblack {
    background-color: #494949;
    border-radius: 0px 0px 1.4vw 1.4vw;
    width: 100%;
    height: 5vw;
    margin-top: 2.2vw;
}

#r {
    border-top-left-radius: 1.5vw;
}

#r2 {
    border-top-right-radius: 1.5vw;
}

#r5 {
    border-bottom-left-radius: 1.5vw;
}

#r6 {
    border-bottom-right-radius: 1.5vw;
}